01_DoWES.Homework.SS2016.00.xlsx 01_DoWES_Homework_SS2016.pdf 01_DoWES_Tutorial_Slides_SS2016_00.commented.pdf 01_DoWES_Tutorial_Slides_SS2016_00.pdf Lecture/ Solution_Homework1.odt CIP_01_DoWES.Hints_for_the_selection_of_main_parameters.SS2016.02.pdf CIP_01.DoWES.Main_parameters_ORANGE.2016.01.xls CIP_01_DoWES.Rotor_design_profile_data.SS2016.01.xlsx CIP_01_DoWES_Selection_of_main_parameters_SS2016.01.pdf
